extends base.pug

block content 
  h4 Change Title of video
  form(method="POST")
    input(name="title", placeholder="write new title" value=video.title required)
    input(name="description" placeholder="Description" required minLength=20 value=video.description)
    input(name="hashTags" placeholder="HashTags, seperated by comma." required value=video.hashTags.join(','))
    input(value="Save", type="submit")
