extends base.pug

block content 
  h3 Hello I'm upload
  form(method="POST")
    input(name="title" placeholder="title", required)
    input(name="description" placeholder="Description", required)
    input(name="hashTags" placeholder="HashTags, seperated by comma.", required)
    input(type="submit", value="Upload Video")